@using System.Security.Principal
@model TagHelperStarterWeb.Models.ManageUserViewModel

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

<form controller="Account" action="Manage" method="post" class="form-horizontal" role="form">
    <h4>Change Password Form</h4>
    <hr />
    <div validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="OldPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input for="OldPassword" class="form-control" />
            <span validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input for="NewPassword" class="form-control" />
            <span validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input for="ConfirmPassword" class="form-control" />
            <span validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
</form>
