@model TagHelperStarterWeb.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<th:form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
    <h4>Create a new account.</h4>
    <hr />
    <th:div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></th:div>
    <div class="form-group">
        <th:label asp-for="UserName" class="col-md-2 control-label"></th:label>
        <div class="col-md-10">
            <th:input asp-for="UserName" class="form-control" />
            <th:span asp-validation-for="UserName" class="text-danger"></th:span>
        </div>
    </div>
    <div class="form-group">
        <th:label asp-for="Password" class="col-md-2 control-label"></th:label>
        <div class="col-md-10">
            <th:input asp-for="Password" class="form-control" />
            <th:span asp-validation-for="Password" class="text-danger"></th:span>
        </div>
    </div>
    <div class="form-group">
        <th:label asp-for="ConfirmPassword" class="col-md-2 control-label"></th:label>
        <div class="col-md-10">
            <th:input asp-for="ConfirmPassword" class="form-control" />
            <th:span asp-validation-for="ConfirmPassword" class="text-danger"></th:span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
</th:form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
